{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="py-3">
        {% if object.author == user %}
        <a href="{% url 'update' object.id %}" class="btn btn-success">update</a>
        <a href="{% url 'delete' object.id %}" class="btn btn-danger">delete</a>
        {% endif %}
    </div>
    <div class="card p-2">
        <a href="{% url 'details' object.id %}">
            <h2> {{object.title}} </h2>
        </a>
        <div class="">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="Image Alt Text"
                class="img-fluid">
        </div>
        <a href="">
            <div style="display: flex; flex-direction:row ; padding-top: 10px; align-items: center; gap: 4px;">
                <div>
                    <img width="30" height="30" style="border-radius: 100%;" src={{user.profile.image.url}} alt="">
                </div>
                <div>
                    <h4>
                        {{object.author}}
                    </h4>
                </div>
            </div>


        </a>
        <div class="">
            <p>Blog object description goes here. This is where you can provide some information about the object.
                Blog object description goes here. This is where you can provide some information about the object.
                Blog object description goes here. This is where you can provide some information about the object.</p>
        </div>
    </div>
</div>
{% endblock content %}